.empresas {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.empresa {
    display: grid;
    grid-template-columns: auto 300px;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px var(--Border);

    > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.modulos {
    grid-column: 1 / span 2;
}

h4 {
    margin-top: 20px;
}

.modulos-grid {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;

    .btn {
        width: 100px;
    }
}

.modulo {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 80%;

    img {
        width: 50px;
    }
}
