<h2>Instancias</h2>

<form #form="ngForm" class="filter">

    <input type="text" name="nombre" [(ngModel)]="filtros.getField('nombre').value" placeholder="Nombre">

    <button class="btn primary icon" (click)="grid.refresh()">
        <mat-icon>search</mat-icon>
    </button>

    <button class="btn green icon" (click)="agregar()">
        <mat-icon>add</mat-icon>
    </button>

    <button class="btn secondary icon" (click)="modificar()">
        <mat-icon>edit</mat-icon>
    </button>

</form>

<app-grid
    restURL="instancias/listar"
    [columns]="columnas"
    [filters]="filtros"
    (doubleClick)="modificar()">
</app-grid>
