<section>
    <div class="container">
        <h2>¿Olvidó su contraseña?</h2>
        <p>Ingrese el correo electrónico con el que se registró y lo ayudaremos a obtener una nueva contraseña.</p>
        <form #form>
            <input type="email" name="email" placeholder="Correo electrónico registrado" [(ngModel)]="email" required>
            <button [appShowLoading]="loading" class="btn secondary" (click)="restaurarPassword()">Restaurar mi contraseña</button>
        </form>
    </div>
</section>
