<section>
    <div class="container">
        <h1>Todas las funcionalidades para automatizar sus procesos</h1>
        <div class="modules">
            <div class="facturacion-electronica">
                <h3>Facturación Electrónica</h3>
                <img src="/assets/facturacion.png">
            </div>
            <div class="compras">
                <h3>Compras</h3>
                <img src="/assets/compras.png">
            </div>
            <div class="inventario">
                <h3>Inventario</h3>
                <img src="/assets/inventario.png">
            </div>
            <div class="contabilidad">
                <h3>Contabilidad</h3>
                <img src="/assets/contabilidad.png">
            </div>
            <div class="cobranzas">
                <h3>Cobranzas</h3>
                <img src="/assets/cobranzas.png">
            </div>
            <div class="pagos">
                <h3>Pagos</h3>
                <img src="/assets/pagos.png">
            </div>
        </div>
        <div class="more">
            <div class="left">
                <h3>¿No encuentra lo que necesita?</h3>
                <p>Si su empresa necesita funcionalidades adicionales, póngase en contacto con nosotros para asesorarle.</p>
            </div>
            <div class="right">
                <a [routerLink]="['/']" fragment="contacto" class="btn primary">Contactenos</a>
            </div>
        </div>
    </div>
</section>
