<section>
    <div class="container">
        <h1>El mejor software del mercado</h1>
        <p class="center">Contamos con bondades que no poseen los programas actuales en el mercado</p>
        <div class="features">
            <div class="feature">
                <div class="number"><span>1</span></div>
                <div class="content">
                    <h3>
                        Interfaz amigable
                    </h3>
                    <p>
                        Realice sus procesos diarios de una manera fácil y rápida, con todo lo que necesita siempre a la
                        mano.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="number"><span>2</span></div>
                <div class="content">
                    <h3>
                        Todo en la nube
                    </h3>
                    <p>
                        Olvídese de comprar computadores y servidores, de respaldos y pagar por servicios de
                        mantenimiento. Todo eso está administrado automáticamente por la nube de Amazon.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="number"><span>3</span></div>
                <div class="content">
                    <h3>
                        Sin límite de usuarios
                    </h3>
                    <p>
                        Todos sus colaboradores pueden ingresar a la plataforma sin necesidad de pagar valores extras.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="number"><span>4</span></div>
                <div class="content">
                    <h3>
                        Sin límite de documentos
                    </h3>
                    <p>
                        Otros programas ponen límites al número de facturas que pueden emitir. ¡Nosotros no!
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="number"><span>5</span></div>
                <div class="content">
                    <h3>
                        Estadísticas en segundos
                    </h3>
                    <p>
                        Genere cubos de información con unos pocos clicks para medir la productividad de su empresa.
                    </p>
                </div>
            </div>
        </div>
        <a href="https://demo.serkom.com/" target="_blank" class="btn accent">Pruébelo gratis</a>
    </div>
</section>
