<div mat-dialog-content>

    <pre class="dialog-message">{{ data.message }}</pre>

    <!-- <app-attribute
        *ngIf="commentLabel"
        name="comentario"
        [label]="commentLabel"
        [(ngModel)]="comentario"
        required>
    </app-attribute> -->

</div>
<div mat-dialog-actions class="mat-mdc-dialog-actions">

    <button class="btn transparent" (click)="cancelar()">
        Cancelar
    </button>

    <button class="btn primary transparent" (click)="confirmar()" cdkFocusInitial>
        Confirmar
    </button>
</div>
