<header>
    <div class="container">
        <a href="/">
            <img class="logo" src="/assets/logo-web.2.0.png">
            <img class="logo-block" src="/assets/logo.2.0.png">
        </a>
        <nav>
            <ul *ngIf="!loading">
                <li>
                    <a [routerLink]="['/']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/']" [fragment]="'planes'">Planes</a>
                </li>
                <li>
                    <a [routerLink]="['/']" [fragment]="'contacto'">Contacto</a>
                </li>
                <li>
                    <a *ngIf="!credentials || !credentials?.tipoUsuario" [routerLink]="['/login']">Mi cuenta</a>
                    <a *ngIf="credentials?.tipoUsuario == 'NORMAL'" [routerLink]="['/mi-cuenta']">Mi cuenta</a>
                    <a *ngIf="credentials?.tipoUsuario == 'ADMIN'" [routerLink]="['/admin']">Admin</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="content" [@routerAnimation]="prepareRoute(o)">
    <router-outlet #o="outlet"></router-outlet>
</main>
<footer>
    <div class="container">
        Copyright 2023. Todos los derechos reservados.<br>
        Página desarrollada por Huntermedia.
    </div>
</footer>
