<header>
    <div class="container">
        <a href="/">
            <img class="logo" src="/assets/logo-web.2.0.png">
            <img class="logo-block" src="/assets/logo.2.0.png">
        </a>
        <nav>
            <ul *ngIf="!loading">
                <li>
                    <a [routerLink]="['/']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/']" [fragment]="'planes'">Planes</a>
                </li>
                <li>
                    <a [routerLink]="['/']" [fragment]="'contacto'">Contacto</a>
                </li>
                <li>
                    <a *ngIf="!credentials" [routerLink]="['/login']">Login</a>
                    <a *ngIf="credentials" [routerLink]="['/mi-cuenta']">Mi cuenta</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="content">
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="container">
        Copyright 2023. Todos los derechos reservados.<br>
        Página desarrollada por Huntermedia.
    </div>
</footer>
