<h2>Información de Usuario</h2>

<form #form *ngIf="!loading">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="usuario.nombre">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" [(ngModel)]="usuario.email">

    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" placeholder="Contraseña" [(ngModel)]="usuario.password">

    <label for="confirmarPassword">Confirme la contraseña</label>
    <input type="password" name="confirmarPassword" id="confirmarPassword" placeholder="Confirme la Contraseña" [(ngModel)]="usuario.confirmarPassword">

    <button [appShowLoading]="loadingGuardar" class="btn primary" (click)="guardar()">Actualizar mis datos</button>
</form>

<app-loading *ngIf="loading"></app-loading>
