<section>
    <div class="container">
        <h2>Cambio de contraseña</h2>
        <p>Digite el código de validación que le llegó a su correo electrónico.</p>

        <form #form>

            <input
                type="password"
                name="CodigoValidacion"
                [(ngModel)]="CodigoValidacion"
                placeholder="Código de validación"
                maxlength="6"
                required>

            <h3>Ingrese su nueva contraseña</h3>

            <input
                type="password"
                name="password"
                [(ngModel)]="password"
                placeholder="Nueva contraseña"
                required>

            <input
                type="password"
                name="confirmarPassword"
                [(ngModel)]="confirmarPassword"
                placeholder="Confirme la contraseña"
                required>

            <button [appShowLoading]="loading" class="btn primary" (click)="cambiarPassword()">
                Cambiar mi contraseña
            </button>

        </form>
    </div>
</section>
