<app-dialog
    title="Tipo de Configuración"
    [loading]="loading"
    (ok)="guardar()"
    (cancel)="cancelar()">

    <form #form="ngForm" class="form vertical bordered">

        <label for="descripcion">Descripción</label>
        <input
            type="text"
            name="descripcion"
            id="descripcion"
            [(ngModel)]="atributos.descripcion"
            placeholder="Descripción"
            maxlength="60"
            required>

        <label for="estado">Estado</label>
        <div class="select">
            <select
                name="estado"
                id="estado"
                [(ngModel)]="atributos.estado">

                <option selected disabled>Elija una opción</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>

            </select>
        </div>

    </form>

</app-dialog>
